<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = 'text/css' href="firstPageHeader.css">
    <link rel="stylesheet" type = 'text/css' href="firstPage.css">
    <link rel="stylesheet" type = 'text/css' href="contacts.css">
    <link rel="preconnect"  href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Contacts</title>
</head>
<body>
    <div class="header">
        <img class="logo" src="/images/Avery-removebg-previ.png">
        <div class="buttons">
            <button>Catalog</button>
            <button>Size chart</button>
            <button>Payment and delivery</button>
            <button>Contacts</button>
        </div>
    </div>
    <div class="infoContacts">
        <div class="object1">
            <p class="header1">Contact us</p>
            <p class="header2">We will answer all questions regarding the operation of our online store</p>
            <p class="mail">avery@mail.ru</p>
        </div>
        <div class="object2">
            <p class="header1">Feedback</p>
            <p class="header2">Fill out the form and we will contact you as soon as possible</p>
            <button>MORE</button>
        </div>
    </div>
    <div class="endPage">
        <p>A V E R Y</p>
        <img src="/images/___38-PhotoRoom.png" alt="">
        <img class="inst" src="/images/___40-PhotoRoom.png" alt="">
        <img src="/images/pixlr-bg-result.png" alt="">
    </div>
</body>
</html>