<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="firstPageHeader.css">
    <link rel="stylesheet" href="firstPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <title>AVERY</title>
</head>
<body>
    <div class="header">
        <img class="logo" src="/images/Avery-removebg-previ.png">
        <div class="buttons">
            <button>Catalog</button>
            <button>Size chart</button>
            <button>Payment and delivery</button>
            <button>Contacts</button>
        </div>
    </div>
    <div class="page">
        <div class="cover">
            <div class="coverText"><p class="h1">AVERY is a new English classic</p></div>
            <div class="coverText"><p class="h2">Designed for the city. Created for you.</p></div>
            <div class="coverText"><button class="chooseAModel">Choose a model</button></div>

            <img class="imgBike" src="/images/noroot.png">
        </div>
        <div class="description">
            <p>Our bikes are designed to effortlessly take you from point A to point B. They are ready to quench your thirst for speed and make your ride pleasant and easy.</p>
        </div>

        <div class="collections">
            <div><p class="collectionsH1">Collections</p></div>
            <div class="originalSeries">
                <div class="originalSeriesInfo">
                    <p class="h3"><span>ORIGINAL</span> SERIES</p>
                    <p class="h4">A series that has conquered thousands of hearts of fixers, which makes it possible to touch the beautiful without hitting the wallet.</p>
                    <button class="more">MORE</button>
                </div>
                <img src="/images/noroot (1).png">
            </div>
            <div class="premiumSeries">
                <img src="/images/noroot (2).png">
                <div class="premiumSeriesInfo">
                    <p class="h3"><span>PREMIUM</span> SERIES</p>
                    <p class="h4">The bikes in this series are made of 4130 chromoly alloy, which allows them to be lighter, tougher and faster.</p>
                    <button class="more">MORE</button>
                </div>
            </div>

        </div>
        <div class="grid">
            <div class="product">
                <button>Buy</button>
                <div class="information">
                    <p class="name">Original Juliet</p>
                    <p class="productInformation">This is a basic model for those who want to buy a simple bike for the city and at the same time try the fixed gear mode.</p>
                    <p class="price">$350</p>
                </div>
            </div>
            <div class="product2">
                <button>Buy</button>
                <div class="information">
                    <p class="name">Adventure Pro Blue</p>
                    <p class="productInformation">An upgraded version of our Adventure series, the Pro offers 18 speeds ready to work in the wild</p>
                    <p class="price">$720</p>
                </div>
            </div>
            <div class="product">
                <button>Buy</button>
                <div class="information">
                    <p class="name">Coaster Flatback</p>
                    <p class="productInformation">One speed, no cables, no levers, no nonsense - just you, the bike and the road.</p>
                    <p class="price">$280</p>
                </div>
            </div>
            <div class="product">
                <button>Buy</button>
                <div class="information">
                    <p class="name">OCity Classic Black</p>
                    <p class="productInformation">He is ready to quench your thirst for riding and at the same time give you a pleasant feeling of lightness.</p>
                    <p class="price">$480</p>
                </div>
            </div>
        </div>
        <div class="allModelsButton"><button>All models</button></div>
        <div class="description">
            <p>We believe in our bikes. That's why we give a lifetime warranty on the frame. You can drive with confidence knowing that we care about you.</p>
        </div>
        <div class="privileges">
            <div class="advantage">
                <img src="/images/noroot (9).png">
                <p>Professional assembly</p>
            </div>
            <div class="advantage">
                <img src="/images/noroot (7).png">
                <p>Lifetime warranty on the frame</p>
            </div>
            <div class="advantage">
                <img src="/images/noroot (8).png">
                <p>Refund within 30 days</p>
            </div>
        </div>
        <div class="endPage">
            <p>A V E R Y</p>
            <img src="/images/___38-PhotoRoom.png" alt="">
            <img class="inst" src="/images/___40-PhotoRoom.png" alt="">
            <img src="/images/pixlr-bg-result.png" alt="">
        </div>
    </div>
    <div class="end">
    </div>
</body>
</html>